<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-muted">Analysis</h2>
        </div>
    </div>
</div>

<hr>

<div class="container" *ngIf="info != null">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">{{info}}</h2>
        </div>
    </div>
</div>

<hr *ngIf="info != null">

<div class="container">
    <div class="row">
        <div class="col-md-12" id="calendar-layout">
            <div class="row">
                <div class="col-md-2 calendar-layout-date" id="date1">
                    <span></span>
                    <span class="h1 text-center">1</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date8">
                    <span></span>
                    <span class="h1 text-center">8</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date15">
                    <span></span>
                    <span class="h1 text-center">15</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date22">
                    <span></span>
                    <span class="h1 text-center">22</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date29">
                    <span></span>
                    <span class="h1 text-center">29</span>
                    <span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 calendar-layout-date" id="date2">
                    <span></span>
                    <span class="h1 text-center">2</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date9">
                    <span></span>
                    <span class="h1 text-center">9</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date16">
                    <span></span>
                    <span class="h1 text-center">16</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date23">
                    <span></span>
                    <span class="h1 text-center">23</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date30">
                    <span></span>
                    <span class="h1 text-center">30</span>
                    <span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 calendar-layout-date" id="date3">
                    <span></span>
                    <span class="h1 text-center">3</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date10">
                    <span></span>
                    <span class="h1 text-center">10</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date17">
                    <span></span>
                    <span class="h1 text-center">17</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date24">
                    <span></span>
                    <span class="h1 text-center">24</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date31">
                    <span></span>
                    <span class="h1 text-center">31</span>
                    <span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 calendar-layout-date" id="date4">
                    <span></span>
                    <span class="h1 text-center">4</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date11">
                    <span></span>
                    <span class="h1 text-center">11</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date18">
                    <span></span>
                    <span class="h1 text-center">18</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date25">
                    <span></span>
                    <span class="h1 text-center">25</span>
                    <span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 calendar-layout-date" id="date5">
                    <span></span>
                    <span class="h1 text-center">5</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date12">
                    <span></span>
                    <span class="h1 text-center">12</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date19">
                    <span></span>
                    <span class="h1 text-center">19</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date26">
                    <span></span>
                    <span class="h1 text-center">26</span>
                    <span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 calendar-layout-date" id="date6">
                    <span></span>
                    <span class="h1 text-center">6</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date13">
                    <span></span>
                    <span class="h1 text-center">13</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date20">
                    <span></span>
                    <span class="h1 text-center">20</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date27">
                    <span></span>
                    <span class="h1 text-center">27</span>
                    <span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 calendar-layout-date" id="date7">
                    <span></span>
                    <span class="h1 text-center">7</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date14">
                    <span></span>
                    <span class="h1 text-center">14</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date21">
                    <span></span>
                    <span class="h1 text-center">21</span>
                    <span></span>
                </div>
                <div class="col-md-2 calendar-layout-date" id="date28">
                    <span></span>
                    <span class="h1 text-center">28</span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>
                <a routerLink="">Configure</a>
            </h3>
        </div>
    </div>
</div>
